.button {
  min-height: 25px;
  min-width: 25px;
  background-color: hsl(120, 100%, 25%);
  color: hsl(0, 0%, 100%);
  border-style: none;
  border-radius: 2px;
  margin: 10px;
  transition: 1s;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(120, 100%, 35%);
}

.button:active {
  border: 2px solid hsl(0, 0%, 0%);
}

.button--remove {
  background-color: hsl(0, 100%, 50%);
}

.button--remove:hover {
  background-color: hsl(0, 100%, 70%);
}
