.button {
  height: 30px;
  width: 30px;
  background-color: hsl(120, 100%, 25%);
  color: white;
  padding: 2px;
  border: none;
  margin: 0 10px 10px;
}

.button:active {
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 3px;
}

.button--remove {
  background-color: hsl(0, 100%, 50%);
}
