.list {
  list-style: none;
  padding: 15px;
}

.list__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 2px solid hsl(0, 0%, 93%);
}

.list__item--done {
  text-decoration: line-through;
}

.list__item--hidden {
  display: none;
}
