html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 0%, 93%);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.list__item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  border-bottom: 2px solid hsl(0, 0%, 93%);
}

.list__task {
  flex-grow: 1;
  flex-basis: 660px;
  word-break: break-word;
  margin-bottom: 10px;
}

.list__task--done {
  text-decoration: line-through;
}

.button {
  height: 30px;
  width: 30px;
  background-color: hsl(120, 100%, 25%);
  color: white;
  padding: 2px;
  border: none;
  margin: 0 10px 10px;
}

.button:active {
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 3px;
}

.button--remove {
  background-color: hsl(0, 100%, 50%);
}

.form {
  display: flex;
  background-color: white;
  padding: 20px;
}

.form__input {
  flex-grow: 1;
  cursor: default;
  height: 45px;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 93%);
}

.form__button {
  height: 45px;
  width: 140px;
  background-color: hsl(187, 100%, 25%);
  color: hsl(0, 0%, 100%);
  margin-left: 15px;
  border: none;
}

.main {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: minmax(auto, 800px);
  grid-template-rows: 60px 150px minmax(auto, 1fr);
  grid-gap: 15px;
  margin: 10px;
}

.section {
  display: grid;
  grid-gap: 2px;
}

.section__header {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.section__container {
  background-color: white;
  min-height: 50px;
  padding: 20px;
}
